<meta charset="UTF-8">
<meta property="fb:pages" content="1755416561338416">
<meta content="data.theodi.org: Open data from The Open Data Institute (ODI). This service provides free and easy access to the raw data behind the ODIs main website." name="description">
<meta content="summary_large_image" name="twitter:card">
<meta content="@ODIHQ" name="twitter:site">
<meta content="data.theodi.org: Open data from The Open Data Institute (ODI). This service provides free and easy access to the raw data behind the ODIs main website." property="og:description">
<meta content="https://data.theodi.org/" property="og:url">
<meta content="https://static.theodi.org/assets/about_hero.jpg" property="og:image">
<meta content="data.theodi.org" property="og:title">
<meta content="data.theodi.org" property="og:site_name">
<meta content="website" property="og:type">
<title>data.theodi.org</title>

<!-- CSS -->
<link rel="stylesheet" href="https://raw.githubusercontent.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.csv.min.js"></script>
<script src="/js/jquery.json-viewer.js"></script>
<style>
	body 	{ padding-top:10px; }
</style>