<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS -->
<link rel="stylesheet" href="https://raw.githubusercontent.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.csv.min.js"></script>
<script src="/js/jquery.json-viewer.js"></script>
<style>
	body 	{ padding-top:50px; }
</style>