<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>Publications</h1>
					<p>Publications is a catgory and has many sub types that you need to specify. See the API quick reference for help.</p>
				</div>

			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>API quick reference</h3>
					<p>The following URL patterns are avaialble:</p>
					<p><a href="/news"><code>/news</code></a></p>
					<p><a href="/blog"><code>/blog</code></a></p>
					<p><a href="/events"><code>/events</code></a></p>
					<p><a href="/team"><code>/team</code></a></p>
					<p><a href="/courses"><code>/courses</code></a></p>
					<p><a href="/courses/instances"><code>/courses/instances</code></a></p>
					<p><a href="/publications"><code>/publications</code></a></p>
					<p><a href="/publications/guide"><code>/publications/guide</code></a></p>
					<p><a href="/publications/case-study"><code>/publications/case-study</code></a></p>
					<p><a href="/publications/method-report"><code>/publications/method-report</code></a></p>
					<p><a href="/tags/ukraine"><code>/tags/{search tag}</code></a></p>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include partials/footer %>
	</footer>
	
</body>
</html>