<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>Tags</h1>
					<p>Tags are like search terms. Articles are tagged with many words or phrases to help catelogue and find them. Use this endpoint to search by a tag, e.g. https://data.theodi.org/tags/<em>ukraine</em> will find all articles tagged with the word <em>ukraine</em>.</p>
				</div>

			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<% include partials/reference %>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include partials/footer %>
	</footer>
	
</body>
</html>